<div class="nav nav-tabs nav-fill">
    <div class="nav-item">
        <a class="nav-link active itemLink" id="productsLink" role="button">Products</a>
    </div>
    <div class="nav-item">
        <a class="nav-link itemLink" id="typesLink" role="button">Types</a>
    </div>
</div>
<form id="dashboardForm" method="post">
    <div class="mb-3">
        <label class="form-label" id="formLabel">Add Product</label>
        <input name="name" placeholder="Enter name" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary" id="formButton">Add Product</button>
</form>

<div class="m-auto row" id="items">
        
</div>

<script type="module" src="/assets/scripts/dashboard/index.js"></script>